# Clean a dataset & perform basic data exploration 
import pandas as pd
import numpy as np
import os

In [15]:
print(os.getcwd())

C:\Learning Python\Mini project - pandas

In [16]:
df = pd.read_csv('sales_data.csv')

In [17]:
df

        Date     Product     Category  Quantity  Price  Total_Sales
0   1/1/2024      Laptop  Electronics         2  50000       100000
1   1/2/2024  Headphones  Electronics         5   1500         7500
2   1/3/2024  Smartphone  Electronics         3  25000        75000
3   1/4/2024       Table         Home         4   3000        12000
4   1/5/2024       Chair         Home         6   1500         9000
5   1/6/2024  Television  Electronics         2  40000        80000
6   1/7/2024         Fan         Home         3   2500         7500
7   1/8/2024       Mouse  Electronics        10    500         5000
8   1/9/2024    Keyboard  Electronics         8   1000         8000
9  1/10/2024         Bed         Home         1  20000        20000

In [19]:
print(df.head(5))

       Date     Product     Category  Quantity  Price  Total_Sales
0  1/1/2024      Laptop  Electronics         2  50000       100000
1  1/2/2024  Headphones  Electronics         5   1500         7500
2  1/3/2024  Smartphone  Electronics         3  25000        75000
3  1/4/2024       Table         Home         4   3000        12000
4  1/5/2024       Chair         Home         6   1500         9000

In [20]:
print(df.shape)

(10, 6)

In [21]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         10 non-null     object
 1   Product      10 non-null     object
 2   Category     10 non-null     object
 3   Quantity     10 non-null     int64
 4   Price        10 non-null     int64
 5   Total_Sales  10 non-null     int64
dtypes: int64(3), object(3)
memory usage: 612.0+ bytes
None

In [22]:
print(df.isnull().sum())

Date           0
Product        0
Category       0
Quantity       0
Price          0
Total_Sales    0
dtype: int64

In [25]:
 df_cleaned  = df.drop_duplicates()

In [26]:
print(df.drop_duplicates().sum())

Date           1/1/20241/2/20241/3/20241/4/20241/5/20241/6/20...
Product        LaptopHeadphonesSmartphoneTableChairTelevision...
Category       ElectronicsElectronicsElectronicsHomeHomeElect...
Quantity                                                      44
Price                                                     145000
Total_Sales                                               324000
dtype: object

In [27]:
print(df_cleaned.describe())

        Quantity         Price    Total_Sales
count  10.000000     10.000000      10.000000
mean    4.400000  14500.000000   32400.000000
std     2.875181  18389.308488   37049.366466
min     1.000000    500.000000    5000.000000
25%     2.250000   1500.000000    7625.000000
50%     3.500000   2750.000000   10500.000000
75%     5.750000  23750.000000   61250.000000
max    10.000000  50000.000000  100000.000000

In [40]:
print(df['Product'].value_counts()) 
print(df['Category'].value_counts()) 
print(df['Total_Sales'].value_counts())

Product
Laptop        1
Headphones    1
Smartphone    1
Table         1
Chair         1
Television    1
Fan           1
Mouse         1
Keyboard      1
Bed           1
Name: count, dtype: int64
Category
Electronics    6
Home           4
Name: count, dtype: int64
Total_Sales
7500      2
100000    1
75000     1
12000     1
9000      1
80000     1
5000      1
8000      1
20000     1
Name: count, dtype: int64

In [42]:
print(df.select_dtypes(include=['number']).corr())

             Quantity     Price  Total_Sales
Quantity     1.000000 -0.659867    -0.568053
Price       -0.659867  1.000000     0.956814
Total_Sales -0.568053  0.956814     1.000000

In [44]:
df_cleaned.to_csv('cleaned_dataset.csv' , index=False)